/* 
UI Styling
*/

html,
body {
  width: 100%;
  margin: 0;
  height: 100%;
}

p,
h2 {
  font-family: "Bree Serif", serif;
}

.background-image {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 0;
  opacity: 0.4;
}

.input-btn {
  margin-top: 15px;
  height: 50px !important;
}

.input {
  background-color: white !important;
}

.bio {
  margin-top: 20px;
}


#site-footer {
  background-color: darkslategrey ;
  max-width: 100%;
  overflow-x: hidden; 
  position: relative;
  color: black;
  }

